beautifulsoup4==4.13.4
docker==7.1.0
fastapi==0.115.12
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0rc0
google-api-python-client==2.169.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
groq==0.23.1
hiredis==3.1.0
huggingface-hub==0.30.2
milvus-lite==2.4.12
numpy==1.26.4
pdf2image==1.17.0
pillow==11.2.1
pymilvus==2.5.8
PyMuPDF==1.25.5
PyPDF2==3.0.1
python-dotenv==1.1.0
python-multipart==0.0.20
redis==6.0.0
requests==2.32.3
safetensors==0.5.3
sentence-transformers==4.1.0
tokenizers==0.21.1
tqdm==4.67.1
transformers==4.49.0
uvicorn==0.34.2
wasabi